<html> 

<head>
	<link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>


<body>
	<form method="POST" action="/">
		Text: <input type="text" id="text" name="text"></input> <br /><br />
		<input type="submit" value="Submit" />
	</form>
</body> 

</html>